.card-popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  min-width: 100%;
  min-height: 100%;
  left: 1px;
}

.card-popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 54px;
}

@media screen and (max-width: 997px) {
  .card-popup__title {
    font-size: 18px;
    line-height: 22px;
    min-width: 238px;
  }
}

.card-popup__save-button {
  margin: 0 auto;
  background: #000000;
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  align-self: center;
  margin-top: 40px;
  transition: .3 ease-in;
  cursor: pointer;
  border: none;
}

.card-popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 997px) {
  .card-popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 67px;
  }
}

.card-popup_show {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.card-popup__input {
  width: calc(100%);
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline:none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
}

.card-popup__window {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 430px;
  padding: 35px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 997px) {
  .card-popup__window {
    max-width: 282px;
    min-height: 322px;
  }
}

.card-popup__close-button {
  cursor: pointer;
  background-image: url(../../images/popup__close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  position: absolute;
}

.card-popup__close-button:hover {
  background-image: url(../../images/popup__close-button_active.svg);
}

@media screen and (max-width: 690px) {
  .card-popup__close-button {
    background-image: url(../../images/popup__close-button_mob.svg);
    right: 0px;
    width: 20px;
    height: 20px;
  }
  .card-popup__close-button:hover {
    opacity: .6;
  }
}



.element__delete-button {
  background-image: url(../../images/Trash.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 18px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
  transition: .4s;
}

.element__delete-button:hover {
  opacity: .6;
}